extends layout


block content
    h1= title

    p
        if loggedIn == undefined
            h3 You are not logged in
            br
            a(href="/users/signup") Click here to sign up.
            br
            a(href="/users/login") Click here to login.
        else
            h3 You are logged in in, welcome #{loggedIn}
            a(href="/users/logout") Click here to sign out.

    a(href="/listings") Browse Listings

    h2 Users and their listings

    ul
    each user in users
        li
            = user.username
            br
            b listings:
            ul
                each listing in user.Listings
                    li
                        = listing.title
                        | (
                        a(href="/listings/" + listing.id + "/view/") View
                        | )