extends layout

block content
    h1= title

    h3= message

    form(action="/users/login", method="post")
        dl
            dt username
            dd
                input(type="text", name="username")
            dt password
            dd
                input(type="password", name="password")
        p
            input(type="submit", value="Log In")

