extends layout

block content
    h1= title


    form(action=secureAddress+"/users/create", method="post")
        dl
            dt username
            dd
                input(type="text", name="username")
            dt password
            dd
                input(type="password", name="password")
            dt password (again)
            dd
                input(type="password", name="password_check")
        p
            input(type="submit", value="Sign Up")

